/* -------------------------------- 

Primary style

-------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
  url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
  url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
  url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
  url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f2f2f2;
}

body, html {
  /* important */
  height: 100%;
  width: 100%;
  background-color:#000;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}


/* Nav*/
.cd-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

/* Landing*/
.landing {
  display: table;
  width: 100%;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url('../img/mainbg3.jpg') no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.landing .landingbody {
    display: table-cell;
    vertical-align: middle;
}

.landing .landingbody h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 300;
}

.landing .landingbody p {
  font-size: 1.3em;
  margin-top: 10px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {

  .landing .landingbody h1 {
    font-size: 2em;
  }

}  

.landingsocial {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 94%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1200px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.landingsocial a:hover {
  color:#412b45;
}

.landingsocial a:active {
  color: #9053a9;
}

@media only screen and (max-width: 768px) {
    .landingsocial {
   top: 96%
  }
}

/* pinned*/

#stickyheader{
  width: 100%;
  z-index: 5;
  position: relative;
}
.stickybtn {
  margin: 39px 30px 0 0;
  display: inline-block;
  float: right;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;

}

.stickyimg {
  margin: 30px 0 0 50px;
  display: inline-block;
  float: left;
  position: relative;
}

/* Sections*/

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 98%;
  display: table;
}

.wrap2 {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 98%;
  display: table;
}

.whatsblox {
  width: 100%;
  height: 900px;
  background: url('../img/blox.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.server {
  background-color: #fff;
  padding: 100px 0 50px;
}

.server2 {
  padding: 50px 0 50px;
  background-color: #000;
}

.medias {
  padding: 80px 0 80px;
  background-color: #412b45;
}

.stream {
  padding: 80px 0 80px;
  background-color: #fff;
}

.browser {
  padding: 80px 0 80px;
  background-color: #412b45;
}

.interactive {
  padding: 50px 0 80px;
  background-color: #fff;
  margin-top: -200px;
}

.interactive2 {
  padding: 80px 0 120px;
  background-color: #fff;
  display: table;
}

.bgwhite {
  background-color: #fff;
}

.bgbeforeserver {
  clear: both;
  width: 100%;
  height: 500px;
  background: url('../img/imgtoserver.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.bgbeforemedia {
  clear: both;
  width: 100%;
  height: 500px;
  background: url('../img/bgbeforemedias.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.bgbeforinteactive {
  clear: both;
  width: 100%;
  height: 500px;
  background: url('../img/movieposter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.interactbgphone {
  clear: both;
  width: 100%;
  height: 700px;
  background: url('../img/interactbgphonefornow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: -30px;
  background-color: #fff;
}

.interactbgphone2 {
  clear: both;
  width: 100%;
  height: 460px;
  background: url('../img/interactbgphone2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}



@media only screen and (max-width: 768px) {
    .bgbeforeserver {
    height: 300px;
  }

  .interactbgphone {
    height: 420px;
    margin-top: -80px;
  }
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (min-width: 1440px) {

  .interactbgphone {
    height: 920px;
  }

}

/*//main*/

.bloxfeatureimg {
  margin-top: 380px;
}

.imgxbsmall {
    width: 99%;
    max-width: 60px !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.bloxtext {
  margin-top: 250px;
  text-align: center;
  max-width: 1280px;
}

.bloxtext h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  color: #f2f2f2;
}

.bloxtext p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  color: #f2f2f2;
}


/*//server*/

.serverimg  {
  text-align: center;
}

.servertext {
  margin-top: 50px;
}

.servertext h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  color: #2d2d2d;
}

.servertext p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  color: #2d2d2d;
}


.ownerimg {
  margin: 10px 30px 0px 30px;
}

.guestsimg {
  margin: 10px 30px 0px 30px;
}

.servertext2{
  text-align: center;
}
.servertext2 h2 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.4;
  color: #f2f2f2;
}

.servertext2 strong {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.8;
  color: #2CC774;
}

.servertext2 p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
  color: #f2f2f2;
}

/*//medias*/

.mediaimg  {
  text-align: center;
}

.mediatext {
  margin-top: 50px;
}

.mediatext h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  color: #f2f2f2;
}

.mediatext p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  color: #f2f2f2;
}

.mediasfeatureimg {
  margin-top: 220px;
}

.streamtext {
  margin-top: 50px;
  margin-bottom: 50px;
}

.streamtext h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  color: #2d2d2d;
}

.streamtext p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  color: #2d2d2d;
}

/*//browser*/


.browsertext {
  margin-top: 120px;
}

.browsertext h2 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  color: #f2f2f2;
}

.browsertext p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  color: #f2f2f2;
}

.browsertext strong {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8;
  color: #2CC774;
}

/*//interact*/


/*//Footer*/

.footer {
  clear: both;
  background-color: #000;
  height: 90px;
  width:100%;
}

.footerinside p{
  color:#5F5F5F;
  font-weight: 800;
  font-size: 0.8em;
  padding-top: 40px;
}

.footerinside img {
  margin-top: 18px;
  margin-bottom: -10px;
}

/*Medias*/

@media only screen and (max-width: 480px) {
    .ownerimg {
      margin: 10px 10px 0px 10px;
    }

    .guestsimg {
      margin: 10px 10px 0px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .ownerimg {
      margin: 10px 70px 0px 70px;
    }

    .guestsimg {
      margin: 10px 70px 0px 70px;
    }
}



@media only screen and (max-width: 768px) {
    .servertext {
      text-align: center;
      font-size: 0.9em;
    }

    .mediatext {
      margin-bottom: 40px;
      text-align: center;
    }

    .wrap {
      margin: 0 auto;
      padding: 0 15px;
      max-width: 98%;
      display: inline-block;
    }

    .bloxtext {
      margin-top: 200px;
    }

    .bloxfeatureimg {
      margin-top: 180px;
    }

    
}

@media only screen and (max-width: 991px) {
    .browsertext {
      margin-top: 50px;
      text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .browsertext {
      margin-top: 80px;
    }
}

@media only screen and (max-width: 1440px) {
    .browsertext {
      margin-top: 50px;
    }
}



/*buttons*/

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-cart:before,
.icon-file:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.icon-cart:before {
  content: "\f07a";
}

.icon-cart-2:before {
  content: "\f07b";
}

.icon-book:before {
  content: "\f02d";
}

/* Button 5 */
.btn-5 {
  background: #412b45;
  color: #fff;
  height: 70px;
  min-width: 260px;
  line-height: 24px;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-5:active {
  background: #9053a9;
  top: 2px;
}

.btn-5 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.btn-5:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-5:active:before {
  color: #703b87;
}

/* Button 5a */
.btn-5a:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

.btn-5a:before {
  left: 0;
  top: -100%;
}

.btn-5a:hover:before {
  top: 0;
}

/* Button 5b */
.btn-5b:hover span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

.btn-5b:before {
  left: -100%;
  top: 0;
}

.btn-5b:hover:before {
  left: 0;
}




/*Products*/

.footerlogoproduct {
  margin-top: 38px;
  margin-bottom: 20px; 
}

.bgpreordernow {
  float: left;
  clear: both;
  width: 100%;
  height: 300px;
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bgpreordernow em {
  margin-top: 30px;
}

@media only screen and (max-width: 992px) {
    .bgpreordernow {
    height: 400px;
  }
}


/*Envy*/

.bgaddon {
  float: left;
  clear: both;
  width: 100%;
  height: 500px;
  background: url('../img/addon.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bgaddontext {
  text-align: center;
  margin: 50px 0 0 1%;
}

.bgaddon span {
  color: #2d2d2d;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
}

.bgaddon em {
  color: #2d2d2d;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
}

.bgspecs {
  float: left;
  clear: both;
  width: 100%;
  height: 1024px;
  background: url('../img/specs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bgspecstext {
  margin: 280px 0 0 1%;
}

.bgspecstext li {
  color:#fff;
}

.bgspecstext span {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  text-shadow: 0.5px 0.5px #2d2d2d;
}

.spectitle {
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px #2d2d2d;
}

.bgspecstext em {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px #2d2d2d;
}

.storageimg {
  margin: 550px 0 0 1%;
}

.bgstorage {
  float: left;
  clear: both;
  width: 100%;
  height: 800px;
  background: url('../img/storage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bgstoragetext {
  margin: 500px 0 0 1%;
}

.bgstoragetext span {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  text-shadow: 0.5px 0.5px #2d2d2d;
}

.bgstoragetext em {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px #2d2d2d;
}

@media only screen and (max-width: 991px) {
    .bgstoragetext {
      margin: 10px 0 0 1%;
    }

    .storageimg {
      margin: 400px 0 0 1%;
    }

    .bgspecstext {
    margin: 50px 0 0 1%;
  }
}

@media only screen and (max-width: 544px) {
    .bgstorage {
    height: 1000px;
  }

  .storageimg {
      margin: 500px 0 0 1%;
    }
}


.bgpic {
  float: left;
  clear: both;
  width: 100%;
  height: 800px;
  background: url('../img/portable.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bgpictext {
  margin: 280px 0 0 1%;
}

.bgpictext span {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
  text-shadow: 0.5px 0.5px #2d2d2d;
}

.bgpictext em {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px #2d2d2d;
}

.textproduct {
  margin: 170px 0 0 1%;
}

.textproduct span {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.8;
}

.textproduct em {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
}

@media only screen and (max-width: 991px) {
    .textproduct {
      margin: 10px 0 0 1%;
    }
}


.projects-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.projects-container::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.projects-container .cd-single-project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /* on mobile -  move items outside the viewport */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.projects-container .cd-single-project::after {
  /* background image */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 25vh;
  width: 100%;
  background-image: url("../img/img-1-small.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.5s, height 0.4s;
  -moz-transition: opacity 0.5s, height 0.4s;
  transition: opacity 0.5s, height 0.4s;
}
.projects-container .cd-single-project::before {
  /* never visible - this is used in jQuery to detect if the background image has been loaded  */
  content: 'static/img/img-1-small.jpg';
  display: none;
}
.projects-container .cd-single-project:nth-of-type(2) {
  top: 25vh;
}
.projects-container .cd-single-project:nth-of-type(2)::after {
  background-image: url("../img/img-2-small.jpg");
}
.projects-container .cd-single-project:nth-of-type(2)::before {
  content: 'static/img/img-2-small.jpg';
}
.projects-container .cd-single-project:nth-of-type(3) {
  top: 50vh;
}
.projects-container .cd-single-project:nth-of-type(3)::after {
  background-image: url("../img/img-3-small.jpg");
}
.projects-container .cd-single-project:nth-of-type(3)::before {
  content: 'static/img/img-3-small.jpg';
}
.projects-container .cd-single-project:nth-of-type(4) {
  top: 75vh;
}
.projects-container .cd-single-project:nth-of-type(4)::after {
  background-image: url("../img/img-4-small.jpg");
}
.projects-container .cd-single-project:nth-of-type(4)::before {
  content: 'static/img/img-4-small.jpg';
}
.projects-container .cd-single-project.is-loaded {
  /* move items in the viewport when background images have been loaded */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.projects-container .cd-single-project.is-full-width {
  /* selected item */
  top: 0;
  height: auto;
  z-index: 1;
  cursor: auto;
  -webkit-transition: z-index 0s 0s, top 0.4s 0s;
  -moz-transition: z-index 0s 0s, top 0.4s 0s;
  transition: z-index 0s 0s, top 0.4s 0s;
  z-index: 5;
}
.projects-container .cd-single-project.is-full-width::after {
  height: 100vh;
}
@media only screen and (min-width: 1024px) {
  .projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .projects-container .cd-single-project {
    width: 25vw;
    height: 100%;
    opacity: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: width 0s;
    -moz-transition: width 0s;
    transition: width 0s;
  }
  .projects-container .cd-single-project:first-of-type::before {
    content: 'static/img/img-1-large.jpg';
  }
  .projects-container .cd-single-project:first-of-type::after {
    background-image: url("../img/img-1-large.jpg");
  }
  .projects-container .cd-single-project:nth-of-type(2) {
    top: 0;
    left: 25vw;
  }
  .projects-container .cd-single-project:nth-of-type(2)::before {
    content: 'static/img/img-2-large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(2)::after {
    background-image: url("../img/img-2-large.jpg");
  }
  .projects-container .cd-single-project:nth-of-type(3) {
    top: 0;
    left: 50vw;
  }
  .projects-container .cd-single-project:nth-of-type(3)::before {
    content: 'static/img/img-3-large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(3)::after {
    background-image: url("../img/img-3-large.jpg");
  }
  .projects-container .cd-single-project:nth-of-type(4) {
    top: 0;
    left: 75vw;
  }
  .projects-container .cd-single-project:nth-of-type(4)::before {
    content: 'static/img/img-4-large.jpg';
  }
  .projects-container .cd-single-project:nth-of-type(4)::after {
    background-image: url("../img/img-4-large.jpg");
  }
  .projects-container .cd-single-project::after {
    height: 100vh;
    width: 100%;
    opacity: 0;
  }
  .projects-container .cd-single-project.is-loaded {
    /* show items when background images have been loaded */
    opacity: 1;
  }
  .projects-container .cd-single-project.is-loaded::after {
    opacity: 1;
  }
  .projects-container .cd-single-project.is-full-width {
    /* selected item */
    left: 0vw;
    width: 100vw;
    -webkit-transition: width 0.2s 0s, z-index 0s 0s, left 0.2s 0s;
    -moz-transition: width 0.2s 0s, z-index 0s 0s, left 0.2s 0s;
    transition: width 0.2s 0s, z-index 0s 0s, left 0.2s 0s;
  }
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-single-project::after {
    background-attachment: fixed;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
    -moz-transition: -moz-transform 0.8s, opacity 0.5s;
    transition: transform 0.8s, opacity 0.5s;
  }
  .projects-container .cd-single-project.is-loaded::after {
    opacity: 0;
  }
  .no-touch .projects-container .cd-single-project:hover::after, .projects-container .cd-single-project.is-full-width.is-loaded::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.cd-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12.5vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.is-full-width .cd-title {
  top: 50vh;
  -webkit-transition: opacity 0s, top 0.4s;
  -moz-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s;
}
.cd-title > * {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-title h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
}
.cd-title p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: .4em 2em;
  display: none;
  opacity: .6;
}
@media only screen and (min-width: 1024px) {
  .cd-title {
    top: 50vh;
    width: 25vw;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-20px);
    -moz-transform: translateY(-50%) translateX(-20px);
    -ms-transform: translateY(-50%) translateX(-20px);
    -o-transform: translateY(-50%) translateX(-20px);
    transform: translateY(-50%) translateX(-20px);
  }
  .is-loaded .cd-title {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
    -moz-transition: -moz-transform 0.6s, opacity 0.6s, left 0.4s;
    transition: transform 0.6s, opacity 0.6s, left 0.4s;
  }
  .is-loaded.is-full-width .cd-title {
    left: 37.5vw;
    -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
    -moz-transition: -moz-transform 0.6s, opacity 0s, left 0.4s;
    transition: transform 0.6s, opacity 0s, left 0.4s;
  }
  .cd-title p {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title h2 {
    font-size: 3.6rem;
  }
}

.cd-project-info {
  clear: both;
  visibility: hidden;
  opacity: 0;
  margin-top: 100vh;
  padding: 4em 0;
  cursor: auto;
  background-color: #ffffff;
  color: #2d2d2d;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}
.is-full-width .cd-project-info {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}
.cd-project-info p {
  width: 98%;
  max-width: 1600px;
  margin: 0 auto;
  line-height: 2;
}
@media only screen and (min-width: 1024px) {
  .cd-project-info {
    position: relative;
    z-index: 1;
  }
}

.projects-container .cd-close,
.projects-container .cd-scroll {
  display: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.1s 0s, visibility 0s 1s;
  -moz-transition: -moz-transform 0.1s 0s, visibility 0s 1s;
  transition: transform 0.1s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
  position: fixed;
  top: 30px;
  right: 5%;
  background: url("../img/cd-icon-close-mobile.svg") no-repeat center center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 4;
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-close {
    background-image: url("../img/cd-icon-close-desktop.svg");
  }
}

.projects-container .cd-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../img/cd-icon-arrow-mobile.svg") no-repeat center center;
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-scroll {
    background-image: url("../img/cd-icon-arrow-desktop.svg");
  }
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
  z-index: 6
}

.project-is-open .cd-scroll {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation: cd-translate 1.2s 0.4s;
  -moz-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.no-touch .project-is-open .cd-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.no-touch .project-is-open .cd-scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}


/*Responsive nav*/

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */


.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  position: static;
  width: auto;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  line-height: 50px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-collapse li {
  display: inline-block;
  padding: 5px 10px 0px 10px;
}

.nav-collapse a {
  display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    border-top: none;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-collapse a:hover {
  color:#fff;
}

.nav-collapse a:active {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .nav-collapse li {
    width:100%;
  }

  .nav-collapse li:hover {
    background-color: #412b45;
  }

  .nav-collapse a {
    width:100%;
  }

  .nav-collapse ul {
    background-color: #101010;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav-collapse ul ul a {
    display: none;
  }
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../img/responsivenav.eot");
  src:url("../img/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../img/responsivenav.ttf") format("truetype"),
    url("../img/responsivenav.woff") format("woff"),
    url("../img/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

.nav-toggle:before {
  color: #fff; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
  margin-top: -16px;
  margin-left: -10px;
}


/*preorder*/
.preorder{
  margin-top: 130px;
  margin-bottom: 50px;
  position: relative;
}

.preorder h2 {
  font-size: 2.4em;
  font-weight: 400;
  text-align: center;
  color:#fff;
  margin-bottom: 40px;
}

.preordertitle {
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.preordertitle2 {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 5px;
}


.component {
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  height: 100%;
}
.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
  content: " "; display: table; 
}

.cbp-mc-form:after { 
  clear: both; 
}

.cbp-mc-column {
  width: 100%;
  padding: 10px 30px;
  float: left;
}

.cbp-mc-form label {
  display: block;
  font-weight: 400;
  padding: 40px 5px 5px 2px;
  font-size: 1.2em;
  letter-spacing: 1px;
  cursor: pointer;
  color: #f2f2f2;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.4em;
  padding: 5px 10px;
  color: #11CA66;
  display: block;
  width: 100%;
  background: transparent;
  border: 2px solid #f2f2f2;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 2px solid #f2f2f2;
}

.cbp-mc-form textarea {
  min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 2px solid #11CA66;
}

.cbp-mc-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #949494;
    font-weight: 300;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #949494;
    font-weight: 300;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #949494;
    font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #949494;
    font-weight: 300;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
  border: 3px solid #d3d3d3;
  color: #d3d3d3;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  border-radius: 2px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cbp-mc-form input.cbp-mc-submit:hover {
  border: 3px solid #11CA66;
  color:#11CA66;
}

.main {
width: 100%;
}


/*///////preorder*/

.productfeatures {
  height: 200px;
  text-align: center;
}

.productfeatures img {
  margin-top: 55px;
}

@media only screen and (max-width: 768px) {
    .productfeatures img {
   margin-top: 10px;
  }
}

.textenvy {
  margin: 170px 0 0 5%;
}

.features {
position: relative;
clear: both;
width: 100%;
height: 1000px;
background-color: rgb(255, 255, 255);
}

